

:root{
  --color-1: #202b60;
  --color-2: #6881ff;
  --color-3: #7fffd4;
  --color-4: #3b356c;
  --color-red: #d71515;
  --color-black: #000000;
  --color-gray: #efefef;
  --color-gray-1: #f2f2f2;
  --color-gray-2: #efefef;
  --color-gray-3: #cccccc;
  --color-gray-4: #9BA1A5;
  --color-gray-5: #697279;
  --color-gray-6: #37434C;
  --border-def: 3px solid var(--color-black);
  --animation-sir: shadow-in-rotate 2s linear 0s infinite;
  --animation-sor: shadow-out-rotate 0.4s linear 0s infinite;
}

/* ANIMAIONS */
@keyframes shadow-in-rotate{
  0% {
    box-shadow: inset -1px -1px 0px 1px rgba(black, 0.5);
  }
  25% {
    box-shadow: inset 1px -1px 0px 1px rgba(black, 0.5);
  }
  50% {
    box-shadow: inset 1px 1px 0px 1px rgba(black, 0.5);
  }
  75% {
    box-shadow: inset -1px 1px 0px 1px rgba(black, 0.5);
  }
}
@keyframes shadow-out-rotate{
  0% {
    box-shadow: -1px -1px 0px 0px black;
  }
  25% {
    box-shadow: 1px -1px 0px 0px black;
  }
  50% {
    box-shadow: 1px 1px 0px 0px black;
  }
  75% {
    box-shadow: -1px 1px 0px 0px black;
  }
}


// CHROME
::-webkit-scrollbar{
	width: 3px;
	position: absolute;
	height: 5px;
}
 ::-webkit-scrollbar-thumb{
 	border-radius: 5px;
 	z-index: 500;
	background-color: lighten(#202b60, 0%);
}
::-webkit-scrollbar-thumb:hover{
	background-color: darken(#202b60, 5%);
} 
::-webkit-scrollbar-thumb:active{
	background-color: darken(#202b60, 10%);
}
::-webkit-scrollbar-track-piece{
	background-color: white;
	border-radius: 5px;
}
// OPERA
::-o-scrollbar{
	width: 3px;
	position: absolute;
}
::-o-scrollbar-thumb{
	z-index: 500;
	border-radius: 5px;
	background-color: lighten(#202b60, 5%);
}
::-o-scrollbar-thumb:hover{
	background-color: darken(#202b60, 5%);
} 
::-o-scrollbar-thumb:active{
	background-color: darken(#202b60, 10%);
}
::-o-scrollbar-track-piece{
	border-radius: 5px;
	background-color: white;
}
::selection {
    background: $color-1;
    color: #fff;
    text-shadow: none;
}



body{
  font-size: 15px;
  font-family: 'Myriad Pro';
  background-color: white;
}

input, button, textarea{
  border: 0;
  &:focus, &:active{
    border: 0;
    outline: none;
  }
}
button{
  background-color: initial;
  &:hover{
    cursor: pointer;
  }
}


.container{
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid{
  padding-left: 60px;
  padding-right: 60px;
}

input:focus, button:focus{
	outline: transparent;
}

.hide{
  display: none;
}