




$color-1: #202b60;
$color-2: #6881ff;
$color-3: #7fffd4;


$color-gray-1: #f2f2f2;
$color-gray-2: #efefef;
$color-gray-3: #cccccc; 
$color-gray-4: #9BA1A5; // #05141F opacity 40% (old color #999)
$color-gray-5: #697279; // #05141F opacity 60% (old color #666)
$color-gray-6: #37434C; // #05141F opacity 80% (old color #1f1f1f)

$color-red: #d71515;


:root{
  --color-1: #202b60;
  --color-2: #6881ff;
  --color-3: #7fffd4;
  --color-red: #d71515;
  --color-black: #000000;
  --color-gray: #efefef;
  --color-gray-1: #f2f2f2;
  --color-gray-2: #efefef;
  --color-gray-3: #cccccc;
  --border-def: 3px solid var(--color-black);
  --animation-1: shadow-rotate 0.4s linear 0s infinite;
}


.container{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid{
  padding-left: 60px;
  padding-right: 60px;
}

input:focus, button:focus{
	outline: transparent;
}

.hide{
  display: none;
}