
/* main.css */

//OTHER
@import "_normalize";
@import "_helper";
@import "_common";
@import "_fancybox";
//@import "_variables";




main{
  min-height: calc(100vh - 46px);
  background-color: #1d202e;
  &:before, &:after{
    content: "";
    clear: both;
    display: table;
  }
}

.fixpanel{
  position: fixed;
  right: 30px;
  bottom: 20px;
  display: flex;
  .btn-add{
    background-color: $color-1;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 46px;
    transition: 0.2s ease;
    box-shadow: 5px 5px 0px 2px black, 0px 0px 0px 3px black;
    &:focus{
      transform: translateY(-2px);
      box-shadow: 10px 10px 0px -5px black, -0px -0px 0px 3px black;
    }
    svg{
      width: 25px;
      transition: 0.2s ease;
      fill: $color-3;
    }
  }
}
.search{
  margin-right: 20px;
  .search-content{
    position: relative;
    border-bottom: 2px solid $color-1;
    .icon-content{
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      line-height: 0;
      svg{
        fill: $color-1;
      }
    }
    input{
      width: 150px;
      height: 36px;
      padding: 5px 15px;
      padding-left: 50px;
    }
  }
  input{
    padding-left: 50px;
    background-color: transparent;
    color: $color-1;
    // &:focus~.icon-content{
    //   svg{
    //     fill: $color-2;
    //   }
    // }
  }
  .icon-content{
    svg{
      transition: 0.2s ease;
      fill: $color-gray-4;
    }
  }
}

.main-wrapper{
  margin-top: 50px;
}
.tags-main{
  position: absolute;
  right: 40px;
  top: 90px;
  .tags-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 150px;
  }
  .tag-item{
    background-color: $color-1;
    // border: 3px solid $color-gray-1;
    word-break: break-word;
    margin-bottom: 1px;
    margin-right: 1px;
    color: $color-3;
    padding: 8px 12px;
    font-size: 13px;
    max-width: 100%;
  }
}

.cells{
  display: grid;
  @media (min-width: 992px){
    grid-template-columns: repeat(4, calc(100/4)+#{"%"});
  }
  @media (min-width: 1200px){
    grid-template-columns: repeat(5, calc(100/5)+#{"%"});
  }
  @media (min-width: 1440px){
    grid-template-columns: repeat(6, calc(100/6)+#{"%"});
  }
 
}

.cells-content{
  //overflow-y: auto;
  //height: calc(100vh - 150px);
  padding-right: 5px;
  padding-bottom: 60px;
  width: calc(100% - 150px);
}
.cell-wrapper{
  padding: 0;
  background-color: $color-5;
  //width: 130px;
  // min-height: 130px;
  // max-height: 200px;
  height: 200px;
  position: relative;
  // overflow-y: auto;
  &:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset 0px 0px 1px black;
    left: 0;
    top: 0;
    border-color: white;
    z-index: 1;
    pointer-events: none;
  }
}
.cell{
  //flex-basis: 130px;    
  margin: 0;
  font-size: 12px;
  position: relative;
  &:before{
    content: "";
    display: none;
    position: relative;
    padding-top: 100%;
    width: 100%;
    background-color: #f1f1f1;
    pointer-events: none;
  }
  .btn{
    transition: 0.1s ease;
    // transform: scale(0);
    opacity: 0;
    // transition-delay: 0.15s;
  }
  &:hover{
    .btn{
      
      // transform: scale(1);
      background-color: #3f414c;
      opacity: 1;
      transition-delay: 0s;
    }
    .cell-wrapper{
      background-color: #3f414c;
    }
  }
  .content{
    // word-break: break-word;
    height: inherit;
  }
  .content-wrapper{
    display: flex;
    flex-direction: column;
    height: inherit;
  }
  .content-detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(black, 0.9);
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    &.active{
      opacity: 1;
      pointer-events: auto;
    }
  }
  .text-content{
    max-width: 100%;
    overflow: hidden;
    padding: 15px 15px;
    padding-right: 20px;
    height: 100%;
    min-height: 50%;
    color: white;
    &:before{
      content: "";
      bottom: 0;
      left: 0;
      // background-color: $color-5;
      background-image: linear-gradient(to bottom, transparent, $color-5 85%);
      width: 100%;
      height: 80px;
      position: absolute;
      display: block;
      pointer-events: none;
    }
    pre{
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: transparent;
      font-size: 11px;
      padding: 5px;
      overflow: hidden;
      &::-webkit-scrollbar {
        // width: 20px;
        height: 1px;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 0;
      }
      &::-webkit-scrollbar-thumb {
        background: orange;
        border-radius: 0;
      }
      &::-webkit-scrollbar-track-piece{
        background-color: transparent;
      }
    }
    p{
      margin: 0;
      margin-bottom: 5px;
    }
    h1,h2,h3,h4,h5,h6{
      margin: 0;
      margin-bottom: 5px;
      font-size: 12px;
    }
  }
  .links-content{
    height: 100%;
    display: flex;
    align-items: center;
    // flex-direction: column;
    padding: 8px 8px;
    border-top: 1px dashed #757ea1;
    a{
      padding-right: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: $color-3;
      text-decoration: underline;
    }
  }
  .media-content{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px dashed #757ea1;
    padding: 8px 8px;
    .cell-yt-link{
      &:after{
        content: "";
      }
    }
    .cell-media-link{
      position: relative;
      display: block;
      width: 25%;
      flex-shrink: 0;
      &:before{
        content: "";
        display: block;
        position: relative;
        padding-top: 100%;
        width: 100%;
        background-color: #f1f1f1;
        pointer-events: none;
      }
      img, video{
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid $color-1;
        object-fit: cover;
        background-color: black;
      }
      
    }
  }
  .date-content{
    display: none;
    position: absolute;
    bottom: 5px;
    left: 11px;
    font-size: 11px;
    margin-bottom: 5px;
  }

  .btn-edit, .btn-del, .btn-views{
    z-index: 2;
    // background-color: #3d3f7e;
    position: absolute;
    width: 30px;
    height: 25px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      fill: white;
      transition: 0.3s ease;
    }
    &:hover{
      background-color: $color-3;
      svg{
        fill: $color-1;
      }
    }
  }
  .btn-views{
    z-index: 4;
    color: $color-3;
    position: absolute;
    bottom: 0;
    left: 0;
    svg{
      fill: white;
      width: 18px;
      transition: 0.3s ease;
    }
  }
  .btn-edit{
    bottom: 0;
    right: 0;
    svg{
      width: 18px;
    }
    &:hover{
      background-color: $color-3;
    }
  }
  .btn-del{
    top: 0;
    right: 0;
    width: 30px;
    svg{
      width: 16px;
    }
    &:hover{
      svg{
        fill: white;
      }
      background-color: rgb(214, 6, 6);
    }
  }
}


.cell-title{
  font-size: 13px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}


.tags-append{
  //display: none;
  //margin-top: 10px;
}
.tags-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  span{

  }
  input{
    flex: 1;
    background-color: white;
    border: none;
    height: 35px;
    color: $color-1;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    //border-bottom: 1px solid white;

    font-size: 13px;
    &::placeholder{
      color: inherit;
    }
    &:focus{
      outline: none;
    }
  }
}
.input-content{
  input, textarea{
    box-shadow: 5px 5px 0px 2px black, 0px 0px 0px 3px black;
    transition: 0.2s ease;
    &:focus{
      transform: translateY(-2px);
      box-shadow: 10px 10px 0px -5px black, -0px -0px 0px 3px black;
    }
  }
}


.tags-input-wrapper-default {
  padding: 0 0;
  //@include shadow-border();
  &.active {
    border-color: $color-3;
  }
}


.tags-input-remove {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  right: 2px;
  top: 2px;
  padding: .5em;
  overflow: hidden;
  &:focus {
    outline: none
  }
  &:after, &:before {
    content: "";
    position: absolute;
    width: 75%;
    left: .15em;
    background: $color-1;
    height: 2px;
    margin-top: -1px;
  }
  &:before {
    transform: rotate(45deg)
  }
  &:after {
    transform: rotate(-45deg)
  }
}

.tags-content{
  display: flex;
  padding: 3px;
  margin: -3px;
  overflow: hidden;
  width: 146px;
  position: relative;
  display: none;
  &:before{
    content: "";
    width: 100%;
    height: calc(100% - 6px);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    //background-image: linear-gradient(to right, transparent 80%, white 95%);
  }
  .tags-item{
    background-color: $color-3;
    margin-right: 0;
    margin-bottom: 0;
    display: inline-block;
    padding: 1px 4px;
    color: $color-1;
    position: relative;
  }
}

.tags-input-badge {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  padding-left: 10px;
  height: 35px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  //overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tags-input-badge-pill {

  @include shadow-border();
  &.disabled {
    padding-right: .6em;
  }
}



.tags-input-badge-selected-default {
  color: $color-1;
  background-color: white;
}

.typeahead-hide-btn {
  color: #999!important;
  font-style: italic
}

.typeahead-badges{
  display: flex;
  position: absolute;
  top: 100%;
  margin: 0;
  margin-top: 10px;
  font-size: 10px;
  .tags-input-badge{
    font-size: 12px;
    margin-top: 5px;
    margin-right: 5px;
    height: 25px;
    padding: 5px 10px;
    cursor: pointer;
  }
}

.typeahead-dropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;
  li {
    padding: .25em 1em;
    cursor: pointer
  }
}

.tags-input-typeahead-item-default {
  color: #fff;
  background-color: #343a40
}

.tags-input-typeahead-item-highlighted-default {
  color: $color-1;
  background-color: white;
}