
/* main.css */

//OTHER
@import "_normalize";
@import "_helper";
@import "_common";
@import "_fancybox";







.cells{
  margin-top: 50px;
  margin-bottom: 50px;
  //display: grid;
  //grid-template-columns: repeat(12, 1fr);
  //grid-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;




}
.cell{
  flex-shrink: 0;
  //flex-basis: 130px;    
  margin: 10px;
  font-size: 12px;
  position: relative;
  &:hover{
    animation: var(--animation-sor);
    .btn-edit, .btn-del{
      transform: scale(1);
    }
  }
  .date-content{
    position: absolute;
    bottom: 5px;
    left: 11px;
    font-size: 11px;
    margin-bottom: 5px;
  }
  .text-content{
    padding-top: 25px;
  }
  .btn-edit, .btn-del{
    background-color: rgba(white, 0.1);
    width: 30px;
    height: 25px;
    transition: 0.3s ease;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    &:hover{
      animation: var(--animation-sir);
    }
  }
  .btn-edit{
    position: absolute;
    bottom: 5px;
    right: 5px;
    svg{
      fill: white;
      width: 18px;
      transition: 0.3s ease;
    }
    &:hover{
      background-color: $color-3;
      svg{
        fill: $color-1;
      }
    }
  }
  .btn-del{
    position: absolute;
    top: 5px;
    right: 5px;
    svg{
      fill: white;
      width: 16px;
      transition: 0.3s ease;
    }
    &:hover{
      background-color: rgb(158, 0, 0);
    }
  }

}
.cell-wrapper{
  border: var(--border-def);
  padding: 8px;
  color: white;
  width: 130px;
  height: 130px;
  background-color: $color-1;
  //display: flex;
  //align-items: center;
}
.cell-title{
  font-size: 13px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.fixpanel{
  position: fixed;
  right: 30px;
  bottom: 20px;
  .btn-add{
    background-color: $color-3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
    transition: 0.3s ease;
    svg{
      width: 30px;
      transition: 0.3s ease;
      fill: $color-1;
    }
    &:hover{
      background-color: $color-1;
      svg{
        fill: white;
      }
    }
  }
}