
/* main.css */

//OTHER
@import "_normalize";
@import "_helper";
@import "_common";
@import "_fancybox";




body{
  font-size: 15px;
  font-family: "Myriad Pro";
  background-color: white;
}



.header{
  .header-wrapper{
    height: 80px;
    width: 100%;
    background-color: $color-1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 3px -4px rgba(black, 0.2);
  }
}

input, button, textarea{
  border: 0;
  &:focus, &:active{
    border: 0;
    outline: none;
  }
}
button{
  background-color: initial;
  &:hover{
    cursor: pointer;
  }
}

.search{
  .input-content{
    position: relative;
    .icon-content{
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      line-height: 0;
    }
    input{
      height: 36px;
      padding: 5px 15px;
      padding-left: 50px;
    }
  }
  input{
    padding-left: 50px;
    background-color: rgba(black, 0.2);
    color: white;
    &:focus~.icon-content{
      svg{
        fill: $color-gray-1;
      }
    }
  }
  .icon-content{
    svg{
      transition: 0.2s ease;
      fill: $color-gray-4;
    }
  }
}




.cells{
  margin-top: 50px;
  margin-bottom: 50px;
  //display: grid;
  //grid-template-columns: repeat(12, 1fr);
  //grid-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .text-content{
    //padding: 2px 5px;
  }
  .date-content{
    font-size: 11px;
    margin-bottom: 5px;
  }
  .cell-wrapper{
    box-shadow: -1px 4px 7px -3px black;
    padding: 8px;
    color: white;
    width: 130px;
    height: 130px;
    background-color: $color-1;
  }
  .cell-title{
    font-size: 13px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    overflow: hidden;
  }
}
.cell{
  flex-shrink: 0;
  //flex-basis: 130px;    
  margin: 10px;
  font-size: 12px;
  position: relative;
  .btn-edit, .btn-del{
    background-color: rgba(white, 0.1);
    width: 30px;
    height: 25px;
    transition: 0.1s ease;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-edit{
    position: absolute;
    bottom: 5px;
    right: 5px;
    svg{
      fill: white;
      width: 18px;
    }
    &:hover{
      background-color: $color-3;
    }
  }
  .btn-del{
    position: absolute;
    top: 5px;
    right: 5px;
    svg{
      fill: white;
      width: 16px;
    }
    &:hover{
      background-color: rgb(158, 0, 0);
    }
  }
}

.addcell{
  background-color: white;
  textarea{
    width: 100%;
    min-height: 50px;
    border: 1px solid $color-1;
    resize: none;
  }
}

.fixpanel{
  position: fixed;
  right: 30px;
  bottom: 20px;
  .btn-add{
    background-color: $color-3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
    transition: 0.3s ease;
    svg{
      width: 30px;
      transition: 0.3s ease;
      fill: $color-1;
    }
    &:hover{
      background-color: $color-1;
      svg{
        fill: white;
      }
    }
  }
}
.addcell{
  width: 600px;
}